<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav ">
    <% if user_signed_in? %>
       <li >
        <a href="/">Home</a>
      </li>
      <li>
          <a href="/friends">Friends</a>
      </li>
      <li>
          <a href="/groups">Groups</a>
      </li>
      <li>
          <a href="/orders">Orders</a>
      </li>

    <% end # if user is signed it %>
  </ul>
   <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li style='padding: 10px;padding-right: 0;'><a href style="padding:0"><img src='/images/1.jpeg' width='30' height='30' class='img-circle'></a></li>
          <li style="color:#FFF"> <a ><%= current_user.name %></a></li>
           <li>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          </li>
           <% else # user not signed it %>
            <li ><%= link_to 'Login', login_path %></li>
            <li ><%= link_to 'Signup', signup_path %></li>
        <% end # if user is signed it %>
  </ul>
</div><!-- navbar-collapse -->